.ap-main-Container{
    margin-top: 10px;
}

.ap-box{
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgb(151, 157, 223);

}

.ap-add-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ap-add-box-icon{
    color: #afafaf;
    font-size: 30px;
    
}

.ap-close-box{
    margin-left: auto;
    margin-right: auto;
}

.ap-close-box-icon{
    color: #afafaf;
    font-size: 20px;
    
}

.ap-close-box-icon:hover{
    color: #000;
}

.ap-b{
    border: 1px solid #000;
}

.ap-add-box-icon:hover{
    color: #000;
}


.ap-submit-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* padding-left:10px */
}

.ap_error{
    padding-left: 1rem;
    color: red;
    font-style: normal !important;
    font-size: 0.9rem;
}

.ap-is-loading{

    color: rgb(215, 8, 8);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
}




